div { padding: 0px; margin: 0px; }

  .container1 {
    float: left;
    margin-left: 0.5rem;
  }
  .container2 {
    float: right;
    margin-right: 0.5rem;
  }

  .cont {
    margin: 0.5rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }